.svg-inline--fa {
    font-size: 100px;
}

.shake {
    animation: shake 0.15s; 
    animation-iteration-count: 2; 
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(4px, 0px); }
    100% { transform: translate(-4px, 0px); }
}

.teal.lighten-4 {
    background-color: #f26232 !important;
}

ul.navList {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    background-color: #000000 !important;
}